@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


//fontes
$font-titulo: 'Lora', serif;
$font-padrao: 'Roboto', serif;

// cores
$cor-primaria: #AA2D77;
$cor-secundaria: #F16A29;
$cor-branca: #FFF;