@import '../../sass/variaveis.scss';

/*
:root {
  --color-primary: #6C9BCF;
  --color-danger: #FF0060;
  --color-success: #1B9C85;
  --color-warning: #F7D060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}
*/
.container-frames {
  padding: 1em;

  .frames {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;

    .pictures {
      height: fit-content;
      background-color: rgba(132, 139, 200, 0.18);
      padding-bottom: 0.3em;

      header {
        background-color: $cor-primaria;
        color: #FFF;
        text-align: center;
        padding: 0.3em 0;
        font-size: 1.2em;
      }

      .form-add-task {
        display: flex;
        width: 100%;
        padding: 0.3em;
        gap: 0.3em;

        align-items: center;

        input {
          width: 100%;
          border-radius: 5px;
          font-size: 1em;
          padding: 7px;

          box-shadow: inset 0 0 4px #1212127c;
        }

        .add-task {
          background-color: $cor-primaria;
          padding: 4px;
          border-radius: 5px;

          display: flex;
          align-items: center;
          justify-content: center;

          margin: 0.2em 0;

          &:hover {
            background-color: $cor-secundaria;
          }
        }
      }
    }
  }
}