@import "../../../../sass/variaveis.scss";

.header-frame {
  padding-top: 60px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  color: #FFF;

  .btn-header-frame {
    background-color: transparent;
    color: $cor-branca;

    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid $cor-branca;
    padding: 4px 15px;

    &:hover {
      border-color: $cor-secundaria;
      color: $cor-secundaria;
    }
  }

  .container-membros {
    background-color: rgba(0, 0, 0, 0.377);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    .content-membros {
      background: linear-gradient(45deg, $cor-primaria, $cor-secundaria);
      padding: 1em;
      border-radius: 5px;
      width: 100%;
      max-width: 400px;

      position: relative;
      display: flex;
      flex-direction: column;

      .btn-header {
        display: flex;
        justify-content: space-between;

        button {
          font-size: 1em;
          padding: 4px 8px;
          background-color: transparent;
          border: 1px solid #FFF;
          align-self: center;
          margin-bottom: 0.5em;
          border-radius: 5px;
          color: #FFF;

          &:hover {
            background-color: $cor-primaria;
          }
        }

      }

      .area-add-members {
        margin-bottom: 1em;
        padding: 2px;
        display: flex;
        border: 1px solid #FFF;
        border-radius: 50px;
        align-items: center;

        svg {
          background-color: #ffffff65;
          border-radius: 50%;
          height: 35px;
          width: 35px;
          padding: 4px;
        }

        input {
          width: 100%;
          font-size: 1em;
          padding: 8px 12px;
          background-color: transparent;
          color: #FFF;

          &::placeholder {
            color: #ffffff8f;
          }
        }
      }
    }
  }
}