.container {
    width: 100%;
    height: calc(100% - 60px);
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .titulo {
    margin-bottom: 1rem;
    font-size: 2rem;
}
.area-gabarito{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.area-gabarito .circle{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid #121212;
    box-shadow: 2px 2px 2px #121212b7;
}
.info-gabarito{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}