@import '../../sass/variaveis.scss';

.header {
  height: 50px;
  background:
    linear-gradient(to right, $cor-primaria, $cor-secundaria, $cor-primaria, $cor-secundaria, $cor-primaria);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  .section-header {

    display: flex;
    gap: 1em;

    .search-friends {

      display: flex;
      align-items: center;
      justify-content: center;

      border-color: $cor-secundaria;

      padding: 2px;
      border-radius: 50px;
      cursor: pointer;
      transition: ease-in-out 0.5s;

      z-index: 99;

      input {
        width: 0;
        transition: ease-in-out 0.5s;
        background-color: transparent;
        font-size: 1em;
        color: $cor-branca;

        &::placeholder {
          color: #ffffffa8;
        }
      }

      svg {
        padding: 2px;
        background-color: #ffffff5b;
        border-radius: 5px;
        transition: ease-in-out 0.3s;
        margin-right: 1em;
      }

      &:hover {
        border: 1px solid $cor-branca;
      }

      &:hover svg {
        border-radius: 50%;
      }

      &:hover input {
        width: 200px;
      }
    }

    .btn-header {
      &.btn-icon {
        width: 35px;
      }

      height: 35px;
      font-size: 1.5em;
      padding: 0 8px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;

      border-radius: 5px;

      background-color: #ffffff4b;
      color: $cor-branca;

      transition: ease-in-out 0.3s;

      &:hover {
        background-color: $cor-primaria;
        filter: drop-shadow(0 0 2px #FFF);
        -webkit-filter: drop-shadow(0 0 2px #FFF);
      }
    }

    .img-header {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      transition: ease-in-out 0.3s;

      &:hover {
        filter: drop-shadow(0 0 2px #FFF);
        -webkit-filter: drop-shadow(0 0 2px #FFF);
      }
    }

    &.area-titulo-header {
      h1 {
        color: $cor-branca;
        font-size: 1.5em;
      }
    }
  }

  .modal-header {
    background-color: #0a0a0a41;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;


    .modal-perfil {
      position: absolute;
      width: 250px;

      background:
        linear-gradient(45deg, $cor-primaria, $cor-secundaria, $cor-primaria, $cor-secundaria, $cor-primaria);
      top: 60px;
      right: 10px;
      padding: 0.8em;

      display: flex;
      flex-direction: column;
      gap: 0.3em;

      border-radius: 5px;

      .btn-fechar-perfil {
        width: 35px;
        height: 35px;
        border-radius: 50%;

        background-color: rgb(255, 95, 95);
        border: 1px solid $cor-branca;

        position: absolute;
        top: -10px;
        right: -10px;

        &:hover {
          background-color: rgb(255, 56, 56);
        }
      }

      section {
        background-color: #ffffff4b;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;

        color: $cor-branca;
        border-radius: 5px;

        img {
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 1em;
        }

        h2 {
          text-transform: capitalize;
        }

        p {
          text-align: center;
          width: 200px;
          word-break: break-all;
          margin-bottom: 1em;
        }
      }
    }

    a,
    button {
      background-color: #ffffff4b;
      font-size: 1.2em;
      text-align: center;
      padding: 8px 0;
      font-weight: bold;
      color: $cor-branca;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      transition: ease-in-out 0.5s;

      border-radius: 5px;

      &:hover {
        background-color: $cor-primaria;
        box-shadow: 0 0 4px $cor-branca;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .area-titulo-header {
      display: none;
    }
  }
}