@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.header {
  height: 50px;
  background: linear-gradient(to right, #AA2D77, #F16A29, #AA2D77, #F16A29, #AA2D77);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.header .section-header {
  display: flex;
  gap: 1em;
}
.header .section-header .search-friends {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #F16A29;
  padding: 2px;
  border-radius: 50px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  z-index: 99;
}
.header .section-header .search-friends input {
  width: 0;
  transition: ease-in-out 0.5s;
  background-color: transparent;
  font-size: 1em;
  color: #FFF;
}
.header .section-header .search-friends input::placeholder {
  color: rgba(255, 255, 255, 0.6588235294);
}
.header .section-header .search-friends svg {
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.3568627451);
  border-radius: 5px;
  transition: ease-in-out 0.3s;
  margin-right: 1em;
}
.header .section-header .search-friends:hover {
  border: 1px solid #FFF;
}
.header .section-header .search-friends:hover svg {
  border-radius: 50%;
}
.header .section-header .search-friends:hover input {
  width: 200px;
}
.header .section-header .btn-header {
  height: 35px;
  font-size: 1.5em;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2941176471);
  color: #FFF;
  transition: ease-in-out 0.3s;
}
.header .section-header .btn-header.btn-icon {
  width: 35px;
}
.header .section-header .btn-header:hover {
  background-color: #AA2D77;
  filter: drop-shadow(0 0 2px #FFF);
  -webkit-filter: drop-shadow(0 0 2px #FFF);
}
.header .section-header .img-header {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.header .section-header .img-header:hover {
  filter: drop-shadow(0 0 2px #FFF);
  -webkit-filter: drop-shadow(0 0 2px #FFF);
}
.header .section-header.area-titulo-header h1 {
  color: #FFF;
  font-size: 1.5em;
}
.header .modal-header {
  background-color: rgba(10, 10, 10, 0.2549019608);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.header .modal-header .modal-perfil {
  position: absolute;
  width: 250px;
  background: linear-gradient(45deg, #AA2D77, #F16A29, #AA2D77, #F16A29, #AA2D77);
  top: 60px;
  right: 10px;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  border-radius: 5px;
}
.header .modal-header .modal-perfil .btn-fechar-perfil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(255, 95, 95);
  border: 1px solid #FFF;
  position: absolute;
  top: -10px;
  right: -10px;
}
.header .modal-header .modal-perfil .btn-fechar-perfil:hover {
  background-color: rgb(255, 56, 56);
}
.header .modal-header .modal-perfil section {
  background-color: rgba(255, 255, 255, 0.2941176471);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  color: #FFF;
  border-radius: 5px;
}
.header .modal-header .modal-perfil section img {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1em;
}
.header .modal-header .modal-perfil section h2 {
  text-transform: capitalize;
}
.header .modal-header .modal-perfil section p {
  text-align: center;
  width: 200px;
  word-break: break-all;
  margin-bottom: 1em;
}
.header .modal-header a,
.header .modal-header button {
  background-color: rgba(255, 255, 255, 0.2941176471);
  font-size: 1.2em;
  text-align: center;
  padding: 8px 0;
  font-weight: bold;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: ease-in-out 0.5s;
  border-radius: 5px;
}
.header .modal-header a:hover,
.header .modal-header button:hover {
  background-color: #AA2D77;
  box-shadow: 0 0 4px #FFF;
}

@media screen and (max-width: 600px) {
  .header .area-titulo-header {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
